@import "vars";
@import "vendor/reset.scss";
@import "boots/bootstrap.scss";
// // @import "boots/functions";
// // @import "boots/variables";
// // @import "boots/maps";
// // @import "boots/mixins/breakpoints";
// // @import "boots/mixins/container";
// // @import "boots/mixins/grid";
// @import "boots/bootstrap-grid.scss";
// @import "boots/bootstrap-grid.min.scss";



a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
}

.block {
    background-color: aqua;
}

body {

    font-family: 'Work Sans';
    font-weight: 400;
    margin: 0;
    color: $darkblue;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h6 {
    font-family: 'Roboto';
    font-weight: 700;
}

h5 {
    font-family: 'Roboto';
    font-weight: 400; 
}

/* Blocks */
@import "blocks/intro";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/fonts";
@import "blocks/btn";
@import "blocks/nav";
@import "blocks/second";
@import "blocks/collaborate";
@import "blocks/play";
@import "blocks/modal";
@import "blocks/platform";
@import "blocks/believe";
// @import "blocks/";















