.believe {
    background: url(/assets/images/believe.jpg) center/cover no-repeat ;
    color: $lightpink;
    padding: 295px 0 317px 0;

    &_text {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.5px;
        max-width: 410px;

            @include media-breakpoint-down('md'){
                font-size: 20px;
                line-height: 25px;
            }
    }

    &_title {
        font-size: 73px;
        line-height: 78px;
        letter-spacing: 2px;

            @include media-breakpoint-down('md'){
                font-size: 50px;
                line-height: 45px;
            }
    }

}