.more_img {
    width: 100%;
}

.more_inner_title {
    font-size: 16px;

    @include media-breakpoint-down('md') {
        font-size: 18px;
     }
}

.more_inner_text {
    font-size: 31px;
    line-height: 40px;

    @include media-breakpoint-down('md') {
        font-size: 22px;
        line-height: 30px;
     }
}

.more_inner {
    max-width: 514px;
    align-self: center;
}

.preview_item {
    flex-direction: column;
}