.more_img {
    width: 100%;
}

.more_inner_title {
    font-size: 16px;
    line-height: 20px;
}

.more_inner_text {
    font-size: 31px;
    line-height: 40px;
}

.more_inner {
    max-width: 514px;
    align-self: center;
}

.preview_item {
    flex-direction: column;

}