.second {
    background-color: $darkblue;
    padding: 80px 0 128px 0;
    color: $white;
}

.second_title {
    font-family: $font2;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
}

.second_link{
    transition: 3s ease-out;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;

        // &:hover {
        //     transform: rotateY(360deg);
        // }

        @include media-breakpoint-down('lg') { 
            padding-bottom: 10px;
        }
}

.second_link_item {
    height: 66px;
    transition: 1s ease-in;

    &:hover {
        transform: scale(1.1);
    }
}

.second_info {

    &__title {
        font-family: $font2;
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: 0.4px;
        color: $lightpink;

            @include media-breakpoint-down('md') {
                font-size: 45px;
                line-height: 45px;
            }
    }
}

.second_right {
    display: flex;
    justify-content: center;

        &__img {
            display: block;

                @include media-breakpoint-down('sm') {
                    width: 250px;
                }
        }
}