<footer>
    <div class="footer_inner container">
        <div class="footer_lists pb-9 row">
            <div class="col-12 col-md-4 pb-5">
                <a href="">
                    <img class="mb-12" src="/assets/images/footer/logo.png" alt="">
                </a>
                <div class="adress">
                    <p class="adress-text pb-2">Headquarters:</p>
                    <address class="pb-2">Hudiksvallsgatan 8</address>
                    <address class="pb-2">113 30 Stockholm, Sweden</address>
                    <a class="pb-2" href="tel:+46 8 517 297 70">+46 8 517 297 70</a>
                </div>
            </div>
            <div class="col-6 col-md-2 pb-7">
                <ul class="list_one">
                    <li class="footer_list__item header_li pb-4">
                        <a href=""> Why Oneflow</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Product tour</a>
                    </li>
                    <li class="footer_list__item pb-4"
                    ><a href=""> Smart contracts</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Built for scale</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Integrations</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Customer stories</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 pb-7">
                <ul class="list_one">
                    <li class="footer_list__item header_li pb-4">
                        <a href=""> Learn</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> FAQ</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Onboarding</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Developers</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Help Center</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> E-sign guide</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 pb-7">
                <ul class="list_one">
                    <li class="footer_list__item header_li pb-4">
                        <a href=""> Security</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Security Center</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Reliability</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> Compliance</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> E-signing legality</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href=""> GDPR</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 pb-7">
                <ul class="list_one">
                    <li class="footer_list__item header_li pb-4">
                        <a href="">More Oneflow</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href="">About us</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href="">Pricing</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href="">Partners</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href="">Blog</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href="">Careers</a>
                    </li>
                    <li class="footer_list__item pb-4">
                        <a href="">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row get_in pt-9 pb-11 align-items-center">
            <div class="get_in__info col-12 col-sm-8 col-md-4 pb-7">
                <h5 class="get_in__title pb-3">Get in the flow</h5>
                <p class="get_in__text pe-9">Send, track and sign your contracts free for the rest of your life. No trickery.</p>
            </div>
            <div class="col-8 col-xs-4 col-lg-2">
                <button class="btn btn-warning">Get Oneflow free</button>
            </div>
        </div>

        <div class="row footer_links">
            <ul class="footer_links_ul col-12 col-sm-6 col-lg-3 pb-9 pt-7">
                <li class="footer_link">
                   <a href="">Login</a>
                </li>
                <li class="footer_link">
                   <a href="">Privacy</a>
                </li>
                <li class="footer_link">
                   <a href="">Cookie statement</a>
                </li>
                <li class="footer_link">
                    <a href=""><img src="/assets/images/earth.svg" alt=""></a>
                </li>
            </ul>
        </div>
</footer>

