<div class="modal fade modal_play" id="videoModalCenter" aria-hidden="true" tabindex="-1"
aria-labelledby="exampleModalCenterTitle">
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <iframe class="modal_video" width="560" height="315"
  src="https://www.youtube.com/embed/vM7IBeDvpQE?autoplay=1&o"
 
  frameborder="0"></iframe>
    <!-- <iframe class="modal_video" width="560" height="315" src="https://www.youtube.com/embed/vM7IBeDvpQE" autoplay title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
</div>
</div>